.detail__information__highlights {
    margin-top: 6rem;
}
.detail__information__highlight {
    align-items: center;
    display:flex;
    
    &:not(:first-child) {
        margin-top: 3.7rem;
    }
}
.detail__information__highlight__icon {
    height:4rem;
    margin-left:-0.5rem;
    margin-right:3.75rem;
    width:4rem;

    @include media('<=phone') {
        height: 9.2rem;
        margin-left:-0.5rem;
        margin-right:5.8rem;
        width: 9.2rem;
    }
}
.detail__information__highlight__text {
    @extend %description-16;
}