.home {
    @extend %cover;
    @extend %center;
    background: $color-contessa;
    color: $color-quater-spanish-white;
    overflow: hidden;
    text-align: center;

    &:before,
    &:after {
        content: '';
        height: 24rem;
        width: 100%;
        position: absolute;
        left: 0;
        z-index: 1;
    }

    &:before {
        background: linear-gradient(to bottom, $color-contessa 0%, rgba($color-contessa, 0) 100%);
        top: 0;
    }
    &:after {
        background: linear-gradient(to top, $color-contessa 0%, rgba($color-contessa, 0) 100%);
        bottom: 0;
    }
}
.home__titles {
    @extend %vertical-titles;
}
.home__titles__label {
    @extend %vertical-titles__label;
}
.home__titles__title {
    @extend %vertical-titles__title;
}
.home__link {
    @extend %description-14;
    bottom: 5rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.05rem;
    position: absolute;
    text-transform: uppercase;
    width: 28.8rem;
    height: 6rem;
    z-index: 2;

    @include media('<=phone') {
        bottom: 7.5rem;
        width: 55rem;
        height: 13.7rem;
    }
}
.home__link__icon {
    @extend %cover
}